.avis-table {

  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;

}


.avis-table thead {

  background: #1f2937;
  color: white;

}


.avis-table th {

  padding: 15px;
  text-align: left;
  font-size: 14px;

}


.avis-table td {

  padding: 15px;
  border-bottom: 1px solid #ddd;
  color: #374151;

}


.avis-table tbody tr:hover {

  background: #f9fafb;

}


/* NOTE ⭐ */

.note {

  color: #f59e0b;
  font-weight: bold;

}


/* STATUT PUBLIÉ */

.badge-success {

  background: #22c55e;
  color: white;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 13px;

}


/* STATUT SIGNALÉ */

.badge-danger {

  background: #ef4444;
  color: white;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 13px;

}


/* BOUTON MODIFIER */

.btn-warning {

  background: #f59e0b;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 8px;

}


/* BOUTON SIGNALER */

.btn-danger {

  background: #dc2626;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;

}


/* Aucun avis */

.empty {

  text-align: center;
  padding: 30px;
  color: #6b7280;

}